<html>
    <head>
        <title>Bunni Cult Studios</title>
    </head>
    <body>
        <h1>Bunni Cult Studios</h1>
        <a href="https://github.com/benryben04/bunnicultstudios">Make this website betteerrrr.</a>
    </body>
</html>